     <%- include('partials/header') %>

    <!-- App Capsule -->
    <div id="appCapsule" class="extra-header-active full-height">

        <div class="section tab-content mt-2 mb-1">

            <!-- waiting tab -->
            <div class="tab-pane fade show active" id="waiting" role="tabpanel">
                <div class="row">
                    <div class="col-12">
                        <ul class="listview flush transparent simple-listview no-space mt-3">
                
                            <li>
                                <strong>Recipient Number</strong>
                                <span class="text-success" id="accountNumber"><%= view_trans.account_number %></span>
                                <input type="hidden" id="account_number" value="">
                            </li>
                            <li>
                                <strong>Recipient Name</strong>
                                <span id="Reciept_name"><%= view_trans.account_name %></span>
                            </li>
                            
                            <li>
                                <strong>TransactionsID</strong>
                                <span id="transactionid"><%= view_trans.transactionid %></span>
                            </li>
                            <li>
                                <strong>Transactions Type</strong>
                                <span id="transactionid"><%= view_trans.transaction_type %></span>
                            </li>

                            <li>
                                <strong>SessionID</strong>
                                <span id="transactionid"><%= view_trans._id %></span>
                            </li>
                            
                            <li>
                                <strong>Date</strong>
                                <span id="transaction_date"><%= view_trans.date %></span>
                            </li>
                            <li> <button type="submit" class="btn btn-success" style="margin-left: 35%; width: 30%;">print</button></li>
                      
                        </ul>
                    </div>
                    
                </div>
            </div>
            <!-- * waiting tab -->



            <!-- paid tab -->
            <div class="tab-pane fade" id="paid" role="tabpanel">
                <div class="row">
                    <div class="col-6 mb-2">
                        <div class="bill-box">
                            <div class="img-wrapper">
                                <img src="assets/img/sample/brand/1.jpg" alt="img" class="image-block imaged w48">
                            </div>
                            <div class="price">$ 14</div>
                            <p>Prime Monthly Subscription</p>
                            <a href="#" class="btn btn-primary btn-block btn-sm">DETAIL</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- * paid tab -->

        </div>

    </div>
    <!-- * App Capsule -->


    <!-- App Bottom Menu -->
    <div class="appBottomMenu">
        <a href="index.html" class="item">
            <div class="col">
                <ion-icon name="pie-chart-outline"></ion-icon>
                <strong>Overview</strong>
            </div>
        </a>
        <a href="app-pages.html" class="item">
            <div class="col">
                <ion-icon name="document-text-outline"></ion-icon>
                <strong>Pages</strong>
            </div>
        </a>
        <a href="app-components.html" class="item">
            <div class="col">
                <ion-icon name="apps-outline"></ion-icon>
                <strong>Components</strong>
            </div>
        </a>
        <a href="app-cards.html" class="item">
            <div class="col">
                <ion-icon name="card-outline"></ion-icon>
                <strong>My Cards</strong>
            </div>
        </a>
        <a href="app-settings.html" class="item">
            <div class="col">
                <ion-icon name="settings-outline"></ion-icon>
                <strong>Settings</strong>
            </div>
        </a>
    </div>
    <!-- * App Bottom Menu -->


    <!-- ========= JS Files =========  -->
    <!-- Bootstrap -->
    <script src="assets/js/lib/bootstrap.bundle.min.js"></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Splide -->
    <script src="assets/js/plugins/splide/splide.min.js"></script>
    <!-- Base Js File -->
    <script src="assets/js/base.js"></script>


</body>

</html>